apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: asia-northeast3-docker.pkg.dev/calm-scarab-478705-c7/jandi-images-repo/frontend:latest
        imagePullPolicy: Always 
        ports:
        - containerPort: 3000
        envFrom:
        - secretRef:
            name: jandi-secret
      