apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: gcr.io/프로젝트ID/frontend:latest # GKE 레지스트리 주소
        ports:
        - containerPort: 8080 
        envFrom:
        - secretRef:
            # 이전에 생성한 Secret의 이름으로 바꿔주세요.
            name: jandi-secret
      