alertmanager:
  config:
    global:
      resolve_timeout: 5m
      slack_api_url: ""

    route:
      group_by: ['job']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: 'slack-notifications' 
      routes:
      - match:
          alertname: Watchdog
        receiver: 'slack-notifications' # 살아있다는 알림

    receivers:
    - name: 'null'
    - name: 'slack-notifications'
      slack_configs:
      - channel: '#이멀전씨' 
        send_resolved: true
        title: '[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}'
        text: >-
          *Description:* {{ .CommonAnnotations.description }}
          *Severity:* {{ .CommonLabels.severity }}