apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: ai-server-scaler
  namespace: default
spec:
  scaleTargetRef:
    name: ai-server  # deployment.yaml에 적힌 metadata.name과 똑같아야 함!
  minReplicaCount: 0       # 메시지 없으면 0개 (비용 절감)
  maxReplicaCount: 2      # 최대 5개
  triggers:
  - type: rabbitmq
    metadata:
      queueName: new_posts  # 코드에서 쓰는 큐 이름
      mode: QueueLength
      value: "1"
    authenticationRef:
      name: keda-trigger-auth   # 아래 설명할 인증 연결