apiVersion: apps/v1
kind: Deployment
metadata:
  name: mail-server
  labels:
    app: mail-server
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: mail-server
  template:
    metadata:
      labels:
        app: mail-server
    spec:
      containers:
      - name: mail-server
        image: asia-northeast3-docker.pkg.dev/calm-scarab-478705-c7/jandi-images-repo/mail_server:latest # GKE 레지스트리 주소
        ports:
        - containerPort: 8080 
        envFrom:
        - secretRef:
            name: jandi-secret