apiVersion: v1
kind: Service
metadata:
  name: mail-server-service 
spec:
  type: ClusterIP   
  selector:
    app: mail-server  
  ports:
    - protocol: TCP
      port: 80       
      targetPort: 8080 